.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.homepagestuff {
position: absolute;
    left: 410px;
    top: 200px;
align-items: center;
}

.floattext1 {
position: absolute;
    left: 480px;
    top: 200px;
font-size: 50px;
font-weight: bolder;
color: white;
}


.floattext2 {
position: absolute;
    left: 85px;
    top: 300px;
width:555px;
font-size: 30px;
font-weight: bold;
color: white;
}

.loginstuff {
position: absolute;
  left: 850px;
    top: 500px;

}

.registerstuff {
position: absolute;
  left: 850px;
    top: 400px;

}

.blacktext1 {
position: absolute;
color:black;
font-size: 30px;
top:-50px;
}

.blacktext2 {
position: absolute;
color:black;
font-size: 30px;
top:50px;
}


.form1 {
position: absolute;
color:black;
font-size: 30px;
}

.form2 {
position: absolute;
color:black;
font-size: 30px;
top:100px;
}

.send {
position: absolute;
color:black;
font-size: 30px;
top:160px;
}



.buttonrows {
position: absolute;
    width: 300px;
    left: 800px;
    top: -200px;
}

.indexbut {
 position: absolute;
    width: 290px;
    left: 0px;
    top: 55px;
}

.browsebut {
 position: absolute;
    width: 290px;
    left: 160px;
    top: 55px;

}

.loginbut {
 position: absolute;
    width: 290px;
    left:335px;
    top: 55px;

}

.registerbut {
 position: absolute;
    width: 290px;
    left: 445px;
    top: 55px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
