.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.indexbut {
 position: absolute;
    width: 290px;
    left: 1100px;
    top: 55px;

}

.browsebut {
 position: absolute;
    width: 290px;
    left: 1270px;
    top: 55px;

}

.loginbut {
 position: absolute;
    width: 290px;
    left: 1413px;
    top: 55px;

}

.registerbut {
 position: absolute;
    width: 290px;
    left: 1540px;
    top: 55px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
